.SearchRunner {

}

body {
    padding: 20px;
}

label {
    margin-left: 125px;
}

table {
  border-collapse: collapse;
  width: 80%;
  margin: auto;
  margin-top: 10px;
}

td, th {
  border: 1px solid #ddd;
  text-align: center;
}

th {
  height: 50px;
}

img {
  display: block;
  margin: auto;
  border-radius: 10px;
  height: 75%;
  max-width: 100%;
}
