.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20px 1fr 40px;
  grid-row-gap: 20px;
  grid-template-areas:
    "top"
    "content"
    "bottom";
}

.search-bar {
  grid-area: top;
  justify-self: center;
  font-size: 20px;
  color: 	#FFFFF0;
}

.search-bar .search-input {
  height: 22;
}

.data-table {
  grid-area: content;
  justify-self: center;
}

.page-selector {
  grid-area: bottom;
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.page-selector .previous-page-button {
  justify-self: start;
}

.page-selector .next-page-button {
  justify-self: end;
}

.page-selector button:hover {
  background-color: #ddd;
}

body {
  padding: 20px;
  background-color: #1e90ff;
}

table {
  border-collapse: collapse;
  width: 80%;
}

td,
th {
  border: 1px solid #ddd;
  text-align: center;
  background-color: #ffffff;
}

th {
  height: 50px;
  background-color: black;
  border: 1px solid black;
  color: 	#F0FFF0;
  cursor: pointer;
}

.previous-page-button,
.next-page-button {
  color: black;
  background-color: #ffffff;
  padding: 8px 16px;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
  font-size: 22px;
}

img {
  display: block;
  margin: auto;
  border-radius: 10px;
  height: 75%;
  max-width: 100%;
}
